<center>
<img src="../img/beeline_data_school_logo.png">
# "Прикладной анализ данных"
#### Интенсивный курс по изучению машинного обучения и анализа данных
<img src="../img/beeline_logo.jpg" height="240" width="240">
## Автор материала: преподаватель Факультета Компьютерных Наук НИУ ВШЭ Кашницкий Юрий
</center>
Материал распространяется на условиях лицензии <a href="https://opensource.org/licenses/MS-RL">Ms-RL</a>. Можно использовать в любых целях, кроме коммерческих, но с обязательным упоминанием автора материала.

In [194]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import collections
import numpy as np
from IPython.display import Image

# Занятие 3. Обучение с учителем. Задачи классификации и регрессии

## Практическое задание. Построение дерева решений

## Загрузка данных

In [195]:
# Создание датафрейма с dummy variables
def create_df(dic, feature_list):
    out = pd.DataFrame(dic)
    out = pd.concat([out, pd.get_dummies(out[feature_list])], axis = 1)
    out.drop(feature_list, axis = 1, inplace = True)
    return out

# Некоторые значения признаков есть в тесте, но нет в трейне и наоборот
def intersect_features(train, test):
    f = list( set(train.keys()) & set(test.keys()))
    return train[f], test[f]

### Признаки

In [196]:
fn_1 = ['Возраст', 'Доход','Внешность','Образование'] # знакомства
fn_2 = ['Цвет', 'Тип', 'Производство', 'Повреждения'] # угон
fn_3 = ['Пол', 'Возраст', 'Образование', 'Зарпалата'] # кредит

### Служба	знакомств

In [197]:
# обучение

df1_train = {}
df1_train['Возраст'] = ['молодой','средний','пожилой','средний','молодой','средний','пожилой'] 
df1_train['Доход'] = ['высокий','высокий','высокий','средний','низкий','высокий','средний']
df1_train['Внешность'] = ['приятная','приятная','приятная','приятная','приятная','отталкивающая','приятная']
df1_train['Образование'] = ['специальное','высшее','высшее','высшее','специальное','высшее','среднее']
df1_train['Составит пару'] = LabelEncoder().fit_transform(['+','+','+','+','-','-','-'])

df1_train = create_df(df1_train, fn_1)
df1_train

,Составит пару,Возраст_молодой,Возраст_пожилой,Возраст_средний,Доход_высокий,Доход_низкий,Доход_средний,Внешность_отталкивающая,Внешность_приятная,Образование_высшее,Образование_специальное,Образование_среднее
0,0,1,0,0,1,0,0,0,1,0,1,0
1,0,0,0,1,1,0,0,0,1,1,0,0
2,0,0,1,0,1,0,0,0,1,1,0,0
3,0,0,0,1,0,0,1,0,1,1,0,0
4,1,1,0,0,0,1,0,0,1,0,1,0
5,1,0,0,1,1,0,0,1,0,1,0,0
6,1,0,1,0,0,0,1,0,1,0,0,1

In [198]:
# тест

df1_test = {}
df1_test['Возраст'] = ['молодой','средний','пожилой'] 
df1_test['Доход'] = ['средний','высокий','низкий']
df1_test['Внешность'] = ['приятная','отталкивающая','приятная']
df1_test['Образование'] = ['высшее','специальное','высшее']
df1_test = create_df(df1_test, fn_1)
df1_test

,Возраст_молодой,Возраст_пожилой,Возраст_средний,Доход_высокий,Доход_низкий,Доход_средний,Внешность_отталкивающая,Внешность_приятная,Образование_высшее,Образование_специальное
0,1,0,0,0,0,1,0,1,1,0
1,0,0,1,1,0,0,1,0,0,1
2,0,1,0,0,1,0,0,1,1,0

In [199]:
# Некоторые значения признаков есть в тесте, но нет в трейне и наоборот
y_1 = df1_train['Составит пару']
df1_train, df1_test = intersect_features(train = df1_train, test = df1_test)
df1_train

,Доход_средний,Внешность_приятная,Возраст_молодой,Образование_специальное,Доход_низкий,Образование_высшее,Возраст_пожилой,Доход_высокий,Возраст_средний,Внешность_отталкивающая
0,0,1,1,1,0,0,0,1,0,0
1,0,1,0,0,0,1,0,1,1,0
2,0,1,0,0,0,1,1,1,0,0
3,1,1,0,0,0,1,0,0,1,0
4,0,1,1,1,1,0,0,0,0,0
5,0,0,0,0,0,1,0,1,1,1
6,1,1,0,0,0,0,1,0,0,0

In [200]:
df1_test

,Доход_средний,Внешность_приятная,Возраст_молодой,Образование_специальное,Доход_низкий,Образование_высшее,Возраст_пожилой,Доход_высокий,Возраст_средний,Внешность_отталкивающая
0,1,1,1,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,1,1,1
2,0,1,0,0,1,1,1,0,0,0

### Автоугон

In [201]:
# обучение

df2_train = {}
df2_train['Цвет'] = ['Красный','Желтый','Желтый','Красный','Желтый','Желтый','Красный'] 
df2_train['Тип'] = ['Спортивный','Спортивный','Джип','Спортивный','Спортивный','Джип','Джип']
df2_train['Производство'] = ['США','Япония','Япония','Япония','США','США','Япония']
df2_train['Повреждения'] = ['нет','нет','нет','есть','есть','нет','есть']
df2_train['Угоняют'] = LabelEncoder().fit_transform(['+','+','+','+','-','-','-'])

df2_train = create_df(df2_train, fn_2)
df2_train

,Угоняют,Цвет_Желтый,Цвет_Красный,Тип_Джип,Тип_Спортивный,Производство_США,Производство_Япония,Повреждения_есть,Повреждения_нет
0,0,0,1,0,1,1,0,0,1
1,0,1,0,0,1,0,1,0,1
2,0,1,0,1,0,0,1,0,1
3,0,0,1,0,1,0,1,1,0
4,1,1,0,0,1,1,0,1,0
5,1,1,0,1,0,1,0,0,1
6,1,0,1,1,0,0,1,1,0

In [202]:
# тест

df2_test = {}
df2_test['Цвет'] = ['Зеленый','Красный','Черный'] 
df2_test['Тип'] = ['Спортивный','Спортивный','Джип']
df2_test['Производство'] = ['США','Германия','Япония']
df2_test['Повреждения'] = ['нет','нет','нет']

df2_test = create_df(df2_test, fn_2)
df2_test

,Цвет_Зеленый,Цвет_Красный,Цвет_Черный,Тип_Джип,Тип_Спортивный,Производство_Германия,Производство_США,Производство_Япония,Повреждения_нет
0,1,0,0,0,1,0,1,0,1
1,0,1,0,0,1,1,0,0,1
2,0,0,1,1,0,0,0,1,1

In [203]:
# Некоторые значения признаков есть в тесте, но нет в трейне и наоборот
y_2 = df2_train['Угоняют']
df2_train, df2_test = intersect_features(train = df2_train, test = df2_test)
df2_train

,Производство_Япония,Тип_Джип,Тип_Спортивный,Повреждения_нет,Цвет_Красный,Производство_США
0,0,0,1,1,1,1
1,1,0,1,1,0,0
2,1,1,0,1,0,0
3,1,0,1,0,1,0
4,0,0,1,0,0,1
5,0,1,0,1,0,1
6,1,1,0,0,1,0

In [204]:
df2_test

,Производство_Япония,Тип_Джип,Тип_Спортивный,Повреждения_нет,Цвет_Красный,Производство_США
0,0,0,1,1,0,1
1,0,0,1,1,1,0
2,1,1,0,1,0,0

### Выдача кредита

In [205]:
# обучение

df3_train = {}
df3_train['Пол'] = LabelEncoder().fit_transform(['М','Ж','Ж','М','М','Ж','Ж'])
df3_train['Возраст'] = ['молодой','средний','средний','пожилой','молодой','средний','пожилой']
df3_train['Образование'] = ['высшее','специальное','высшее','высшее','высшее','среднее','специальное']
df3_train['Зарпалата'] = ['высокая','высокая','средняя','высокая','низкая','средняя','средняя']
df3_train['Выдать кредит'] = LabelEncoder().fit_transform(['+','+','+','+','-','-','-'])

df3_train = create_df(df3_train, fn_3)
df3_train['Пол'] = LabelEncoder().fit_transform(['М','Ж','Ж','М','М','Ж','Ж'])
df3_train

,Выдать кредит,Возраст_молодой,Возраст_пожилой,Возраст_средний,Образование_высшее,Образование_специальное,Образование_среднее,Зарпалата_высокая,Зарпалата_низкая,Зарпалата_средняя,Пол
0,0,1,0,0,1,0,0,1,0,0,1
1,0,0,0,1,0,1,0,1,0,0,0
2,0,0,0,1,1,0,0,0,0,1,0
3,0,0,1,0,1,0,0,1,0,0,1
4,1,1,0,0,1,0,0,0,1,0,1
5,1,0,0,1,0,0,1,0,0,1,0
6,1,0,1,0,0,1,0,0,0,1,0

In [206]:
# тест

df3_test = {}
df3_test['Пол'] =  LabelEncoder().fit_transform(['Ж','Ж','М'])
df3_test['Возраст'] = ['молодой','пожилой','средний']
df3_test['Образование'] = ['специальное','высшее','специальное']
df3_test['Зарпалата'] = ['высокая','средняя','средняя']

df3_test = create_df(df3_test, fn_3)
df3_test['Пол'] =  LabelEncoder().fit_transform(['Ж','Ж','М'])
df3_test

,Возраст_молодой,Возраст_пожилой,Возраст_средний,Образование_высшее,Образование_специальное,Зарпалата_высокая,Зарпалата_средняя,Пол
0,1,0,0,0,1,1,0,0
1,0,1,0,1,0,0,1,0
2,0,0,1,0,1,0,1,1

In [207]:
# Некоторые значения признаков есть в тесте, но нет в трейне и наоборот
y_3 = df3_train['Выдать кредит']
df3_train, df3_test = intersect_features(train = df3_train, test = df3_test)
df3_train

,Возраст_молодой,Образование_специальное,Зарпалата_средняя,Зарпалата_высокая,Образование_высшее,Возраст_пожилой,Возраст_средний,Пол
0,1,0,0,1,1,0,0,1
1,0,1,0,1,0,0,1,0
2,0,0,1,0,1,0,1,0
3,0,0,0,1,1,1,0,1
4,1,0,0,0,1,0,0,1
5,0,0,1,0,0,0,1,0
6,0,1,1,0,0,1,0,0

In [208]:
df3_test

,Возраст_молодой,Образование_специальное,Зарпалата_средняя,Зарпалата_высокая,Образование_высшее,Возраст_пожилой,Возраст_средний,Пол
0,1,1,0,1,0,0,0,0
1,0,0,1,0,1,1,0,0
2,0,1,1,0,0,0,1,1

## Функции для расчета энтропии и прироста информации

In [209]:
# данные для теста: 9 синих шариков и 11 желтых
b = [1 for i in range(9)] + [0 for i in range(11)]

# два разбиения
b1 = [1 for i in range(8)] + [0 for i in range(5)] # 8 синих и 5 желтых
b2 = [1 for i in range(1)] + [0 for i in range(6)] # 1 синий и 6 желтых

In [250]:
from collections import Counter
import math

# расчет энтропии Шеннона
def entropy(a_list):
    
    count = Counter(a_list)
    total = len(a_list)
    return (- sum([((count[val] / float(total)) * math.log((count[val] / float(total)), 2))  for val in count]))

In [251]:
print entropy([1,0,0,0,0,0,0]) # 1 синий и 6 желтых
print entropy(b)
print entropy([1,2,3,4,5,6]) # энтропия игральной кости с несмещенным центром тяжести

SyntaxError: invalid syntax (<ipython-input-251-ddaaf737617e>, line 1)

In [215]:
# расчет прироста информации

def information_gain(root, left, right):
    ''' root - изначальный набор данных, left и right два разбиения изначального набора'''
    return entropy(root) - len(left)/float(len(root)) * entropy(left) - len(right)/float(len(root)) * entropy(right)

In [247]:
print information_gain(b,b1,b2)

SyntaxError: invalid syntax (<ipython-input-247-9297fd75ac35>, line 1)

In [218]:
# функция для расчета прироста информации при разбиении набора данных 

def split(X,y):
    ''' Выводит прирост информации при разбиении по каждому признаку'''
    info_gain_max = 0
    new_left = []
    new_right = []
    feature_list = []
    for x in X:
        feature_list = list(X[x])
        left = [y[i] for i in range(len(feature_list)) if feature_list[i] == 1]
        right = [y[j] for j in range(len(feature_list)) if feature_list[j] == 0]
        info_gain = information_gain(y, left, right)
        if info_gain > info_gain_max:
            info_gain_max = info_gain
            optimal = x
            X_left = X[X[optimal] == 1]
            X_left = X_left.drop(optimal, 1)
            X_right = X[X[optimal] == 0]
            X_right = X_right.drop(optimal, 1)
            new_left = left
            new_right = right
    print optimal
    return X_left, new_left, X_right, new_right

SyntaxError: invalid syntax (<ipython-input-218-bd16e9fa5bd0>, line 23)

In [217]:
split(df2_train, y_2)

smc-blob::9e8ec7cd-6076-4bee-b0df-5fd7eaecd250

In [182]:
X_left_level2, y_left_level2, X_right_level2, y_right_level2 = split(df2_train, y_2)

Производство_Япония

In [183]:
split(X_left_level2, y_left_level2)
X_left_level3, y_left_level3, X_right_level3, y_right_level3 = split(X_left_level2, y_left_level2)

Тип_Джип
Тип_Джип

In [184]:
split(X_right_level2, y_right_level2)

Цвет_Красный

(   Тип_Джип  Тип_Спортивный  Повреждения_нет  Производство_США
 0         0               1                1                 1,
 [0],
    Тип_Джип  Тип_Спортивный  Повреждения_нет  Производство_США
 4         0               1                0                 1
 5         1               0                1                 1,
 [1, 1])

In [185]:
split(X_left_level3, y_left_level3)

Повреждения_нет

(   Тип_Спортивный  Цвет_Красный  Производство_США
 2               0             0                 0,
 [0],
    Тип_Спортивный  Цвет_Красный  Производство_США
 6               0             1                 0,
 [1])

## Постройте деревья решений для трех наборов данных.

**Рисовать деревья можно от руки. Продвинутый уровень - отрисовка деревьев, код для построения всего дерева.**

In [219]:
from __future__ import division, print_function
# отключим всякие предупреждения Anaconda
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pylab as plt
%pylab inline
import seaborn as sns
figsize(10, 8)

Populating the interactive namespace from numpy and matplotlib

In [252]:
df2_train.head()

,Производство_Япония,Тип_Джип,Тип_Спортивный,Повреждения_нет,Цвет_Красный,Производство_США
0,0,0,1,1,1,1
1,1,0,1,1,0,0
2,1,1,0,1,0,0
3,1,0,1,0,1,0
4,0,0,1,0,0,1

In [237]:
tree = DecisionTreeClassifier(max_depth=5, criterion = 'entropy', random_state=42)
tree.fit(df2_train, y_2)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=42, splitter='best')

In [265]:
from sklearn.tree import export_graphviz
export_graphviz(tree, feature_names = ['Производство_Япония', 'Тип_Джип', 'Тип_Спортивный', 'Повреждения_нет', 'Цвет_Красный', 'Производство_США'], out_file='df2.dot')
!dot -Tpng 'df2.dot' -o 'df2.png'

IndexError: list index out of range

In [253]:
df1_train.head()

,Доход_средний,Внешность_приятная,Возраст_молодой,Образование_специальное,Доход_низкий,Образование_высшее,Возраст_пожилой,Доход_высокий,Возраст_средний,Внешность_отталкивающая
0,0,1,1,1,0,0,0,1,0,0
1,0,1,0,0,0,1,0,1,1,0
2,0,1,0,0,0,1,1,1,0,0
3,1,1,0,0,0,1,0,0,1,0
4,0,1,1,1,1,0,0,0,0,0

In [258]:
tree1 = DecisionTreeClassifier(max_depth=5, criterion = 'entropy', random_state=42)
tree1.fit(df1_train, y_1)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=42, splitter='best')

In [259]:
from sklearn.tree import export_graphviz
export_graphviz(tree1, feature_names = ['Доход_средний', 'Внешность_приятная', 'Возраст_молодой', 'Образование_специальное', 'Доход_низкий', 'Образование_высшее', 'Возраст_пожилой',
                                       'Доход_высокий', 'Возраст_средний', 'Внешность_отталкивающая'], out_file='df1.dot')
!dot -Tpng 'df1.dot' -o 'df1.png'

In [256]:
df3_train.head()

,Возраст_молодой,Образование_специальное,Зарпалата_средняя,Зарпалата_высокая,Образование_высшее,Возраст_пожилой,Возраст_средний,Пол
0,1,0,0,1,1,0,0,1
1,0,1,0,1,0,0,1,0
2,0,0,1,0,1,0,1,0
3,0,0,0,1,1,1,0,1
4,1,0,0,0,1,0,0,1

In [260]:
tree3 = DecisionTreeClassifier(max_depth=5, criterion = 'entropy', random_state=42)
tree3.fit(df3_train, y_3)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=42, splitter='best')

In [263]:
from sklearn.tree import export_graphviz
export_graphviz(tree, feature_names = ['Возраст_молодой', 'Образование_специальное', 'Зарплата_средняя', 'Зарплата_высокая', 'Образование_высшее', 'Возраст_пожилой', 'Возраст_средний',
                                       'Пол'], out_file='df3.dot')
!dot -Tpng 'df3.dot' -o 'df3.png'